/* ========================================================= */
/* BACKGROUND */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

    min-height: 100vh;
    color: #2b3e1d;
    overflow: auto;
}

/* ========================================================= */
/* CONTAINER PRINCIPAL */
.profile-main {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.profile-details{
    display: flex;
    flex-direction: column;
    

}

h2 {
    color: #4C9F38;
}

/* ========================================================= */
/* CARD DE DADOS E CANDIDATURAS */
.applications-cards {
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}

.data-card,
.application-card {
    background-color: #FFFFFF;
    padding: 30px 25px;
    border-radius: 25px;
    border: 2px solid #A4D194;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    text-align: left;
    position: relative;
}

/* ========================================================= */
/* TÍTULOS */
.data-card h2,
.applications-list h2 {
    color: #4C9F38;
    font-size: 1.7em;
    margin-bottom: 25px;
    font-weight: bold;
}

/* ========================================================= */
/* INFORMAÇÕES */
.data-card p,
.application-card p {
    margin-bottom: 12px;
    font-size: 0.95em;
    color: #2b3e1d;
}

/* ========================================================= */
/* BOTÕES */
.btn-edit,
.btn-view {
    background-color: #5BA848;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    transition: background-color 0.2s, transform 0.1s;
}

.btn-edit:hover,
.btn-view:hover {
    background-color: #4C9F38;
}

.btn-edit:active,
.btn-view:active {
    transform: scale(0.98);
}

/* ========================================================= */
/* LINKS E CHECKBOX */
.signup-container input[type="checkbox"],
.data-card input[type="checkbox"] {
    margin-right: 8px;
    transform: scale(1.15);
}

.data-card a,
.application-card a {
    color: #4C9F38;
    font-weight: 600;
    text-decoration: none;
}

.data-card a:hover,
.application-card a:hover {
    text-decoration: underline;
}

/* ========================================================= */
/* RESPONSIVIDADE */
@media (max-width: 990px) {
    .profile-container,
    .data-card,
    .application-card {
        flex-direction: column;
        width: 90%;
    }

    .data-card h2,
    .applications-list h2 {
        font-size: 1.5em;
    }

    .btn-edit,
    .btn-view {
        font-size: 1em;
        padding: 12px 20px;
    }
}
